body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://wallpaperaccess.com/full/2917956.jpg');
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 36px;
    color: #ff4500;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff4500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e63900;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.hidden {
    display: none;
}

#room-display {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#message-container {
    margin-top: 20px;
}

#message {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

#send-message {
    width: calc(100% - 40px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff4500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#send-message:hover {
    background-color: #e63900;
}
